body {
    color: #ccc;
    background: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#psuedo-body {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

/* Header */

h1,
h2 {
    text-align: center;
}

#instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#instructions > div {
    width: 25%;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    border: solid 1px #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* League Selector */

#instructions,
#league-wrapper {
    width: 816px;
}

#league-wrapper {
    display: block;
    text-align: right;
    margin: 15px 0;
}

label {
    font-weight: bold;
}

select {
    margin-left: 15px;
    padding: 2px 5px;
    color: #ccc;
    background: #333;
}

/* Table stuff */

img {
    max-width: 60px;
    max-height: 60px;
}

.currency {
    max-width: 35px;
    max-height: 35px;
}

table {
    border-collapse: collapse;
    background: #fff;
}

#node-fossils {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    width: 816px;
    border: solid 1px #555;
}

#node-fossils,
#node-fossils .fossil-head {
    border-radius: 10px;
}

#node-fossils .fossil-head {
    margin: 0 auto;
}

#node-fossils .fossil-head:nth-of-type(3) {
    -webkit-column-break-after: column;
       -moz-column-break-after: column;
            break-after: column;
}

td {
    background: #333;
    text-align: center;
    vertical-align: middle;
    width: 90px;
    height: 75px;
}

td div .note {
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    top: 2px;
    right: 5px;
}

.biome-name td,
.depth td {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.biome-name {
    font-weight: bold;
}

/* Fossil title columns */

.fossil-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
}

#normal-fossils {
    background-color: #333;
}

#normal-fossils tr:nth-of-type(3),
#normal-fossils tr:nth-of-type(3) .fossil-head {
    border-radius: 10px 0 0 0;
}

#normal-fossils,
#normal-fossils tr:last-of-type,
tr:last-of-type .fossil-head {
    border-radius: 0 0 0 10px;
}

tr .fossil-head {
    border-left: solid 1px #555;
}

tr:nth-of-type(3) td:first-of-type {
    border-top: solid 1px #555;
}

tr:last-of-type td:first-of-type {
    border-bottom: solid 1px #555;
}

#normal-fossils .fossil-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

#normal-fossils .fossil-head span:first-of-type {
    font-weight: bold;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
}

#normal-fossils .fossil-head .price {
    margin-left: 80px;
}

/* Tooltips */

.tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: #222;
    color: #ccc;
    position: absolute;
    display: inline-block;
    -webkit-transition: 300ms !important;
    -o-transition: 300ms !important;
    transition: 300ms !important;
    font-variant: small-caps;
    border: solid 2px #dfcf99;
    width: 250px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: inherit;
}

.tooltip.right {
    left: 90%;
}

.tooltip.left {
    right: 90%;
}

.tooltip.above {
    bottom: 105%;
}

.tooltip.below {
    top: 105%;
}

td div,
#node-fossils > div {
    position: relative;
    overflow: visible;
}

td div:hover,
#node-fossils > div:hover {
    z-index: 5;
}

td div:hover .tooltip,
#node-fossils > div:hover .tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 5;
}

.tooltip .item-name {
    padding: 5px;
    border-bottom: solid 2px #dfcf99;
    color: #dfcf99;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.tooltip .modifiers {
    padding: 5px;
    color: #8888ff;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.tooltip .modifiers div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

/* Selection behavior */

.row-option {
    cursor: pointer;
}

/* Column coloration */

.row-option:hover *,
.fossil-head {
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.row-option:hover,
.row-option.selected {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
}

.biome-0 {
    background: rgba(37, 35, 51, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-1 {
    background: rgba(50, 36, 56, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-2 {
    background: rgba(63, 60, 40, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-3 {
    background: rgba(31, 48, 34, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-4 {
    background: rgba(40, 57, 61, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-5 {
    background: rgba(54, 34, 34, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.biome-6 {
    background: rgba(66, 50, 41, 1);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.best {
    color: #222;
    background: rgba(12, 104, 12, 1);
}

.good {
    color: #222;
    background: rgba(182, 185, 0, 1);
}

.okay {
    color: #222;
    background: rgba(185, 111, 0, 1);
}

.bad,
.fossil-head {
    background: rgba(51, 51, 51, 1);
}

/*
 * Footer
 */

#footer {
    width: 816px;
    margin: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
}

#footer div:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#footer img {
    height: 1.5em;
    margin: 0 0.5em
}

a, a:visited {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}